In [1]:
import numpy as np
import pandas as pd

In [2]:
# Creating a dataframe from a csv. :: see pandasDemo

In [7]:
# Try importing a csv frame from a text file

pd.read_csv( 'inventory.csv.txt') # works perfect; it wont fail on file extension

         location  product_type         product_description  quantity  price
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

In [4]:
# Creating a dataframe from a dict

test_df = pd.DataFrame( { 'col1' : ['value1'], 'col2' : ['value2'], 'col3' : ['value3'] } ) ## Note: must be a dict of lists, even if the column contains only a single value

In [5]:
# Creating a dataframe from a list of lists 
# ( one list per row )

test_df2 = pd.DataFrame( [ ['r1c1', 'r1c2', 'r1c3'],\
                        ['r2c1', 'r2c2', 'r2c3']] ) # without columns param, will name columns from zero index

test_df3 = pd.DataFrame( [ ['r1c1', 'r1c2', 'r1c3'],\
                        ['r2c1', 'r2c2', 'r2c3']] \
                       ,columns = [ 'column1', 'column2', 'column3' ])

In [6]:
print( test_df)
print( test_df2)
print( test_df3)

     col1    col2    col3
0  value1  value2  value3
      0     1     2
0  r1c1  r1c2  r1c3
1  r2c1  r2c2  r2c3
  column1 column2 column3
0    r1c1    r1c2    r1c3
1    r2c1    r2c2    r2c3